
/* general styling */
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  text-align: center;
  font-family: "Montserrat", serif;
  line-height: 2;
  color: #f8efd4;
  background-color: #132743;
}
h1, h2, h3, h4, h5, h6 {
  color: #edc988;
}
h2 {
  font-size: 3rem;
}
hr {
  border: 0px dotted white;
  width: 10%;
  border-top: dotted #d2d4d4 7px;
}
p {
  color: #8f8f8f;
  font-size: 1.25rem;
}
.button {
  background-color: #d7385e;
  color: #f8efd4;
  border-radius: 10px;
  padding: 10px;
}
.button:hover {
  background-color: #be2246;
  border-radius: 10px;
  color: #f8efd4;
  text-decoration: none;
}

/* specific styling */
.navbar {
  padding: 0.5rem 1.25rem;
  text-align: right;
  background-color: #d7385e;
}
.nav-item {
  margin: 0 1.5rem;
}

.section-1 {
  padding: 7rem 15rem 0;
  background-color: #d7385e;
  text-align: center;
}
.main-heading {
  font-family: "Sacramento", cursive;
  font-size: 7.625rem;
  font-weight: 700;
}
.boy {
  height: 25rem;
}
.section-2 {
  padding: 7rem 15rem;
  text-align: center;
}
.my-pic {
  border-radius: 100%;
  height: 240px;
  margin: 0 0 3rem;
}
.section-3 {
  padding: 7rem 15rem;
  text-align: center;
}
.skill-pic {
  border-radius: 10px;
  height: 240px;
}
.col-lg-6 {
  margin: 50px 0;
  padding: 2rem;
}
.odd-skill {
  text-align: left;
}
.even-skill {
  text-align: right;
}
.inactive{
  display: none;
}
.section-4 {
  padding: 7rem 15rem;
  text-align: center;
}
.section-5 {
  padding: 3rem 15rem 0;
  background-color: #d7385e;
  text-align: center;
}
.copy-right {
    margin: 0;
    color: #EAF6F6;
    padding: 40px 0 ;
}
/* media query */
@media (max-width: 992px){
    .section-1, .section-2, .section-3, .section-4, .section-5 {
        padding: 7rem 0;
        text-align: center;
      }
      .section-1 {
        padding-bottom: 0;
      }
      .odd-skill,.even-skill {
        text-align: center;
      }
      .skill-pic {
        height: 160px;
      }
      .col-lg-6 {
        margin: 10px 0;
        padding: 1rem 2rem;
      }
      .active{
        display: none;
      }
      .inactive{
        display: block;
      }
}